*~
*.bak
*.swp
*.swo
tags
/.vscode

# Build directories
build/
build*/
example/build/
example/build*/

# Rust Cargo build system files.
target
rust-project.json

# Bazel-related cache and output directories
bazel-*
example/bazel-*

# Site-specific bazel configuration
.bazelrc-site

# Local binaries that should not be committed to the codebase
.bin/
